<footer>Brought to you by <a href="http://www.java-freelance.fr">Jean-Baptiste Lemée</a> | if you're a developper, you
   may grab the <a href="https://github.com/jblemee/RecommendizR" title="Link to source code">source code</a> | Copyright 2011 recommendizr.com
   <ul>
      <li><a href="mailto:contact@recommendizr.com">Contact</a></li>
      <li><a class="link" href="#">legals</a></li>
   </ul>
</footer>


<script type="text/javascript">
   require(["jquery"], function($) {
      $(document).ready(function() {


      });
   })
</script>

