
<section id=search>
   <form id="search-form" method="post" action="#">
      <fieldset>
         <legend>I'm looking for :</legend>
         <div>
            <label for="search-input">Stuff : </label><input type="text" id="search-input" name="search-input"
                                                             value="${flash.search}" required/>
            <button id="search-button" type="submit" name="submit">Search</button>
         </div>
      </fieldset>
   </form>

</section>

<section><h4>Search results :</h4>

   <div id="search-results"></div>
</section>

<section>
   <h4>Stuff you should like :</h4>

   <div id="recommendations">
      <p class="not-connected">To get personnal recommendation, based on what you like, please signin with one of your
         account :</p>
      <section class="not-connected">
         <!-- Simple OpenID Selector -->
         #{form @Security.authenticateOpenId(), method:'get',id:'openid_form'}
         <input type="hidden" name="action" value="verify"/>

         <fieldset>

            <a class="google openid_large_btn" href="javascript:openid.signin('google');"
               title="Connect with Google">google</a>
            <a class="yahoo openid_large_btn" href="javascript:openid.signin('yahoo');"
               title="Connect with Yahoo">yahoo</a>

            #{if flash.error}
            <div class="errorbox">
               <h2>Erreur</h2>
               ${flash.error}
            </div>
            #{/if}
         </fieldset>
         #{/form}
      </section>
   </div>
</section>

<section><h4>Popular stuff :</h4>
   <div id="populars"></div>
</section>

<section><h4>Recent stuff :</h4>
   <div id="recents"></div>
</section>

<section class="connected" id="add-liked">
   #{form @Reco.addLiked(), ,id:'add-liked-form'}
   <fieldset>
      <legend>Add stuff you want to share :</legend>
      <div>
         <p>
            <label for="add-liked-input-name">Title : </label>
            <input type="text" id="add-liked-input-name" name="add-liked-input-name"
                   value="${flash.addLikedName}" required/>
         </p>

         <p>
            <label for="add-liked-input-description">Description : </label>
            <textarea type="text" id="add-liked-input-description" name="add-liked-input-description"
                      value="${flash.addLikeddescription}" required> </textarea>

         <p>
            <button id="add-liked-button" type="submit" name="submit">Add</button>
      </div>
      <div id="add-liked-error" style="display: none;" class="errorbox">
         Sorry, I can't add that.
      </div>
   </fieldset>
   #{/form}
</section>


<script type="text/javascript">
   require(["jquery", "widgets/likedlist", "widgets/likedaddbox", "openid-jquery"], function($, LikedList, LikedAddBox) {

      $(document).ready(function() {

         $('#search-button').click(function(e) {
            e.preventDefault();
            var searchText = $('#search-input').val();
            LikedList.Instance('search-results', '@{Application.search()}', {limit:10,text: searchText}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');
         });

         var recentsLiked = new LikedList.Instance('recents', '@{Application.lastAdded()}', {limit:10}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');
         var popularsLiked = new LikedList.Instance('populars', '@{Application.mostLiked()}', {limit:10}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');

         var withConnectedUser = function (username) {
            $('#username-welcome').html(username);
            $('.not-connected').hide();
            $('.connected').fadeIn("fast");
            LikedList.Instance('recommendations', '@{Reco.recommend()}', {limit:10}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');
            var likedAddBox = new LikedAddBox.Instance('add-liked', '@{Reco.addLiked()}');
            likedAddBox.onLikedAdded.add(recentsLiked.refresh);
            likedAddBox.onLikedAdded.add(popularsLiked.refresh);
         };

         var withoutConnectedUser = function () {
            $('.connected').hide();
            $('.not-connected').fadeIn("fast");
         };

         var initPage = function() {
            $.ajax({
               url: '@{Security.userName()}',
               success: withConnectedUser,
               error: withoutConnectedUser
            });

            openid.init('openid_identifier');
            openid.setDemoMode(false);
         };

         initPage();
      });
   });
</script>