#{extends 'main.html' /}
#{set title:'RecommendizR - Share and get stuff you like' /}

<header>
   <div class="connected" id="header-welcome">
      You are connected with <span id="username-welcome"></span>. <a href='@{Security.logout()}'>logout</a>
   </div>
   <h2>Share and get stuff you like !</h2>
</header>

<section id=search>
   <form id="search-form" method="post" action="#">
      <fieldset>
         <legend>I'm looking for :</legend>
         <div>
            <label for="search-input">Stuff : </label><input type="text" id="search-input" name="search-input"
                                                             value="${flash.search}" required/>
            <button id="submit-button" type="submit" name="submit">Search</button>
         </div>
      </fieldset>
   </form>

</section>

<section id="search-results">

</section>

<section id="recommendations">
   <p class="not-connected">To get personnal recommendation, based on what you like, please signin with one of your
      account :</p>
   <section class="not-connected">
      <!-- Simple OpenID Selector -->
      #{form @Security.authenticateOpenId(), method:'get',id:'openid_form'}
      <input type="hidden" name="action" value="verify"/>

      <fieldset>

         <a class="google openid_large_btn" href="javascript:openid.signin('google');" title="se connecter avec Google">google</a>
         <a class="yahoo openid_large_btn" href="javascript:openid.signin('yahoo');" title="se connecter avec Yahoo">yahoo</a></div>

         <noscript>
            <p>OpenID is service that allows you to log-on to many different websites using a single indentity.
               Find out <a href="http://openid.net/what/">more about OpenID</a> and <a
                       href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
         </noscript>

         #{/form}

         #{if flash.error}
         <div class="errorbox">
            <h2>Erreur</h2>
            ${flash.error}
         </div>
         #{/if}
      </fieldset>
   </section>
</section>

<section id="recents">

</section>

<section id="populars">

</section>


<script type="text/javascript">
   require(["jquery", "widgets/likedlist", "openid-jquery"], function($, LikedList) {
      var onSuccessSearch = function (resultList) {
         $('#result').html();
         $('#search-results').show();
      }

      var doSearch = function () {
         var searchText = $('#search-input').val();
         $.ajax({
            url: '@{Application.search()}',
            success: onSuccessSearch,
            data: ({'text' : searchText}),
            type: "GET",
            error: function() {
               $('#search-results').html("<p class='error'>Sorry, Something bad happened. Please try another search</p>");
            }
         });
      }

      var withConnectedUser = function (username) {
         $('#username-welcome').html(username);
         $('.not-connected').hide();
         $('.connected').fadeIn("fast");
         LikedList.Instance('recommendations', '@{Application.recommend()}', 10);
      };

      var withoutConnectedUser = function () {
         $('.connected').hide();
         $('.not-connected').fadeIn("fast");
      };

      var initPage = function() {
         $.ajax({
            url: '@{Security.userName()}',
            success: withConnectedUser,
            error: withoutConnectedUser
         });

         openid.init('openid_identifier');
         openid.setDemoMode(false);
      };

      $(document).ready(function() {

         initPage();

         $('#submit-button').click(function(e) {
            e.preventDefault();
            doSearch();
         });

         LikedList.Instance('recents', '@{Application.lastAdded()}', 10);
         LikedList.Instance('populars', '@{Application.mostLiked()}', 10);

      });
   });
</script>